.card{
    border: 2px solid;
    margin: 7px;
    box-shadow: 5px 10px rgba(0, 0, 0, 0.589);
   

}
header{
    text-align: center;
    box-shadow: 2px 2px rgba(93, 216, 165, 0.377)
}
p{
    margin: 7px;
    text-align: center;
    /* box-shadow: 2px 2px rgba(91, 136, 204, 0.418) */

}

footer{
    text-align: center;
}